@import "@/styles/_helpers.scss";

.portfolioWrapper {
    @apply my-[7rem];
}

.headerContainer {
    @apply flex justify-between items-center;

    span:first-of-type {
        @apply mt-[1rem];
        font-size: toRem(25);
        line-height: toRem(35)
    }
}

.arrowContainer {
    @apply flex items-center gap-[2rem];

    div {
        @apply bg-[#EAE6FE] text-white p-3 rounded-2xl transition-transform transform hover:scale-110 active:scale-90;
    }
}

.hover\:scale-110:hover {
    @apply scale-110;
}

.active\:scale-90:active {
    @apply scale-90;
}

.cardContainer {
    @apply flex aspect-square items-center justify-center h-[25rem] p-0 w-auto;
}

.activeCard {
    background-color: rgba(0, 0, 0, 0.1)
}

.extraContainer {
    @apply w-full h-[10rem] bg-white text-black rounded-b-lg absolute left-0 bottom-0 px-[1.8rem] pt-[2.2rem];

    .title {
        @apply text-[#232E35];
        font-size: toRem(14);
    }

    .techContainer {
        @apply mt-[1rem] flex items-center justify-start gap-3;

        span {
            @apply text-[#656D72] px-2 py-1 rounded-sm;
            border: toRem(1) solid #F1F1F1;
            font-size: toRem(12);

        }

        svg {
            @apply ml-[1rem];
            font-size: toRem(28);
        }
    }

}