@import "@/styles/_helpers.scss";

.mainContentWrapper {
    @apply grid grid-cols-2 my-[13rem] gap-5;
}

.nameContainer {
    @apply flex flex-col gap-8;

    span:nth-of-type(1),
    span:nth-of-type(2) {
        @apply flex items-center justify-start gap-3;
    }

    .title {
        font-size: toRem(25);
    }

    span:nth-of-type(2) {
        @apply opacity-50 flex items-center justify-start gap-3;
        color: var(--color-primary);
        font-size: toRem(14);
        line-height: toRem(25);
    }

    div:nth-of-type(2) {
        @apply flex gap-7 opacity-50;

        >* {
            @apply size-5 transition-transform transform hover:scale-110 active:scale-90;
        }
    }
}

.hover\:scale-110:hover {
    @apply scale-110;
}

.active\:scale-90:active {
    @apply scale-90;
}

.imageContainer {
    @apply justify-self-end relative pr-[1rem];


    div:first-of-type {
        @apply bg-[#EAE6FE] h-[20rem] flex items-end w-[17rem] rounded-2xl z-10 absolute top-0;

        img {
            @apply object-contain object-bottom;
        }
    }

    div:nth-of-type(2) {
        @apply bg-[#7E74F1] h-[20rem] w-[17rem] rounded-2xl rotate-[-9.55deg];
    }

    div:nth-of-type(3) {
        img {
            @apply absolute h-[13rem] w-[10rem] top-0 right-[1rem] z-[100] rounded-2xl;
        }
    }
}


@media screen and (max-width: 992px) {
    .mainContentWrapper {
        @apply grid-cols-1 my-[7rem];
    }

    .nameContainer {
        @apply order-last items-center text-center;
    }

    .imageContainer {
        @apply justify-self-center;
    }
}