@import '@/styles/_helpers.scss';

.navbarWrapper {
    @apply flex justify-evenly my-5;

    @media screen and (max-width: 992px) {
        @apply justify-between;
    }
}

.logoContainer {
    @apply flex items-center gap-3;
    color: var(--color-primary);

    span {
        font-size: toRem(20);
    }

    img {
        width: toRem(40);
        height: toRem(40);
    }
}

.linksContainer {
    @apply flex items-center justify-evenly gap-16;
    color: var(--color-primary);

    >span {
        @apply select-none;
        font-size: toRem(16);
    }
}

.navlinks{
    @apply flex flex-col items-center gap-8 pt-10;
    color: var(--color-primary);

    >span {
        @apply select-none;
        font-size: toRem(16);
    }
}

.btnContainer {
    @apply flex items-center justify-center gap-5;


    > :last-child {
        @apply py-[0.6rem] px-5 rounded-md cursor-pointer select-none;
        border: toRem(2) solid var(--border-color);
        color: var(--color-primary);
    }
}

.linksContainer,
.btnContainer {
    @media screen and (max-width: 992px) {
        @apply hidden;
    }
}

.navBtnWrapper {
    @apply flex items-center justify-center;

    @media screen and (min-width: 993px) {
        @apply hidden;
    }
}