@import '@/styles/_helpers.scss';

.navbarWrapper {
    @apply flex justify-between my-5;
}

.logoContainer {
    @apply flex items-center gap-3;
    color: var(--color-primary);

    span {
        font-size: toRem(16);
    }

    img {
        width: toRem(30);
        height: toRem(30);
    }
}

.linksContainer {
    @apply flex items-center justify-evenly gap-16;
    color: var(--color-primary);

    >span {
        @apply select-none;
        font-size: toRem(14);
    }
}

.navlinks {
    @apply flex flex-col items-center gap-8 pt-10;
    color: var(--color-primary);

    >span {
        @apply select-none;
        font-size: toRem(14);
    }
}

.btnContainer {
    @apply flex items-center justify-center gap-5;

    > :last-child {
        @apply py-[0.3rem] px-5 rounded-md cursor-pointer select-none;
        border: toRem(2) solid var(--border-color);
        color: var(--color-primary);
        font-size: toRem(14);
    }
}



.navBtnWrapper {
    @apply flex items-center justify-center;


}

.sheetContent {
    @apply z-[9999];
}

@media screen and (max-width: 992px) {

    .linksContainer,
    .btnContainer {
        @apply hidden;
    }

    .navbarWrapper {
        @apply justify-between;
    }

    .btnContainer {
        @apply justify-between
    }

    .mobile {
        @apply flex mt-[5rem];
    }
}

@media screen and (min-width: 993px) {
    .navBtnWrapper {
        @apply hidden;
    }

}