@import "@/styles/_helpers.scss";

.contactWrapper {
    @apply grid grid-cols-2 gap-5;
}

.inputContainer {
    @apply flex flex-col gap-6;

    input,
    textarea {
        @apply bg-white;
        color: black;

        &::placeholder {
            font-size: toRem(14);
        }
    }
}

.header {
    font-size: toRem(25);
}

.detailsContainer {
    @apply pt-[2rem] pl-[2rem] flex flex-col gap-5;

    .details {
        @apply flex items-center gap-3 justify-start;

        .extra {
            @apply flex flex-col gap-0;

            span:first-of-type {
                color: var(--color-primary);
                font-size: toRem(14)
            }

            span:last-of-type {
                color: var(--color-secondary);
                font-size: toRem(13)
            }
        }

        .icon {
            @apply p-2 rounded-md;
            background-color: #EAE6FE;

            svg {
                @apply size-4;
            }
        }
    }
}

.btnSubmit {
    @apply bg-[#7E74F1] text-white text-center py-[0.5rem] rounded-md;
    font-size: toRem(12);
}

@media screen and (max-width: 768px) {
    .contactWrapper {
        @apply grid-cols-1;
    }

    .detailsContainer {
        @apply grid grid-cols-3 pl-0;
        grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
    }
}