@import "@/styles/_helpers.scss";

.inputContainer {
    @apply flex flex-col gap-6 w-[50%];

    input,
    textarea {
        @apply bg-white;
        color: black;

        &::placeholder {
            font-size: toRem(14);
        }
    }
}

.header {
    font-size: toRem(25);
}

.detailsContainer {
    @apply pt-[2rem] pl-[2rem] flex flex-col gap-5 w-[50%];

    .details {
        @apply flex items-center gap-3 justify-start;

        .extra {
            @apply flex flex-col gap-0;

            span:first-of-type {
                color: var(--color-primary);
                font-size: toRem(14)
            }

            span:last-of-type {
                color: var(--color-secondary);
                font-size: toRem(13)
            }
        }

        .icon {
            @apply p-2 rounded-md;
            background-color: #EAE6FE;

            svg {
                @apply size-4;
            }
        }
    }
}

.btnSubmit {
    @apply bg-[#7E74F1] text-white text-center py-[0.5rem] rounded-md;
    font-size: toRem(12);
}

.contactContainer {
    @apply flex justify-center items-start gap-4 pt-4
}

.mainWrapper {
    @apply px-[10rem]
}

@media screen and (max-width: 992px) {
    .mainWrapper {
        @apply px-0;
    }
}

@media screen and (max-width: 576px) {

    .inputContainer,
    .detailsContainer {
        @apply w-[100%];
    }

    .headerContainer {
        @apply flex justify-center flex-col items-center;
    }

    .contactContainer {
        @apply flex-col items-center;
    }
}

@media screen and (max-width: 768px) {
    .contactWrapper {
        @apply grid-cols-1;
    }

    .detailsContainer {
        @apply grid grid-cols-3 pl-0;
        grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
    }
}